.skin\:black {
  --color-1: #ccc;
  --color-2: #777;
  --color-button: #ccc;
  --color-input: inherit;
  --color-link-1: #ad9;
  --color-link-2: #a7a;
  --color-link: #9ad;
  --color-title-link-1: #cf9;
  --color-title-link: inherit;
  --color-title: #ad9;
  --color: #ccc;
  --face-1: 'Trebuchet MS', Trebuchet, sans-serif;
  --face-2: 'Courier New', Courier, monospace;
  --face: 'Trebuchet MS', Trebuchet, sans-serif;
  --fill-alert: rgba(51, 51, 51, 0.5);
  --fill-button: #333 linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05)) repeat-x 0 0;
  --fill-input: #000 linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.025)) repeat-x 0 0;
  --fill-mark: #333;
  --fill: #000;
  --stroke-1: #{rgba(#333, 0.5)};
  --stroke-alert: rgba(255, 255, 255, 0.5);
  --stroke-button: rgba(255, 255, 255, 0.15);
  --stroke-input: #333 #333 #444;
  --stroke: #333;
  --title: 700;
}