.skin\:blue {
  --color-1: #eee;
  --color-2: #579;
  --color-button: #ccc;
  --color-input: inherit;
  --color-link-1: #fc6;
  --color-link-2: #a7a;
  --color-link: #9bd;
  --color-title-link-1: #ccc;
  --color-title-link: inherit;
  --color-title: #fc6;
  --color: #ccc;
  --face-1: 'Trebuchet MS', Trebuchet, sans-serif;
  --face-2: monospace;
  --face: 'Trebuchet MS', Trebuchet, sans-serif;
  --fill-alert: rgba(51, 51, 51, 0.5);
  --fill-button: #357 linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)) repeat-x 0 0;
  --fill-input: #0f2d4a linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)) repeat-x 0 0; // `rgba(0, 0, 0, 0.125)`
  --fill-mark: #246;
  --fill: #135;
  --stroke-1: #{rgba(#468, 0.5)};
  --stroke-alert: rgba(255, 255, 255, 0.5);
  --stroke-button-1: rgba(255, 255, 255, 0.25);
  --stroke-button: rgba(255, 255, 255, 0.15);
  --stroke-input: #{rgba(#468, 0.5)};
  --stroke: #468;
  --title: 700;
}