.skin\:ochre {
  --color-1: #874;
  --color-2: #774;
  --color-button: #ffc;
  --color-link-1: #c80;
  --color-link-2: #996;
  --color-link: #684;
  --color-title-link-1: #a60;
  --color-title-link: inherit;
  --color-title: #c80;
  --color: #333;
  --face-1: 'Trebuchet MS', Trebuchet, sans-serif;
  --face-2: monospace;
  --face: Georgia, serif;
  --fill-alert: rgba(204, 204, 204, 0.5);
  --fill-button: #874 linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05)) repeat-x 0 0;
  --fill-input: #fff linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)) repeat-x 0 0;
  --fill-mark: #ffd;
  --fill: #dd9;
  --stroke-1: #{rgba(#ffc, 0.5)};
  --stroke-alert: rgba(0, 0, 0, 0.5);
  --stroke-button-1: rgba(255, 255, 255, 0.8);
  --stroke-button: rgba(255, 255, 255, 0.5);
  --stroke-input: #874;
  --stroke: #ffc;
  --title: 400;
}